.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.settings{
  width:100%;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  outline:none;
}

.link-button:hover,
.link-button:focus,
.link-button:active {
  text-decoration: none;
  outline:none;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;

}

.autocomplete input {
    width: calc(300px + 1rem);
}

.autocomplete{
    min-height: 165px;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);

  display:inline-block;
  position:relative;

}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.profileform label{
   display:block;

}

.App-link {
  color: #09d3ac;
}

.postlist {
  text-align: left;
  background: blue;
  border-radius: 20px;
  padding:30px;
  margin:10px;

  width:60%;
  display: inline-flex;
}

.userlist {
  text-align: left;
  background: blue;
  border-radius: 20px;
  padding:30px;
  margin:10px;
  width:60%;
  display: inline-flex;
}

.comments{
    background:white;
    width:90%;
    display:block;
    border-radius: 20px;
    padding:10px;
    margin:10px;
    color:black;
}

.commentlist {
  text-align: left;
  background: lightblue;
  color:black;
  border-radius: 20px;
  padding:10px;
  margin:10px;
  font-size: 12px;
  width:90%;
  display:block;
}

.hide{
  display:none;
}


.maincontent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.posts{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.postbody{
  width:60%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comment-block{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidenav{
  /* need to specify some position other than static, so height can apply.
     Fixed works since it will stay fixed to the side - 0 from both left and top. */
  position:fixed;
  left:0px;
  top:0px;
  height:100%;
  width:100px;

  /* internally to this container, we want to use flex positioning of the menu elements */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: blue;
}

.sidenav ul{
   list-style-type: none;
   padding:10px;
   margin:0px;
   margin-top: 40px;
}

.sidenav-icon{
  width:40px;
  height:40px;

  margin-bottom:15px;
}

.comment-indicator{
  text-align:right;
  width:100%;
  display:block;
  float:right;
  margin-top: 10px;
}

.comment-icon{
  width:40px;
  height:40px;
  float:right;
}

.comment-indicator-text{
  background-color: lightblue;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  width:120px;
  padding:5px;
  float:right;
  margin-left:10px;
  text-align: center;
}

.modal {
  position:absolute;
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: 5px 5px 5px gray;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  color:black;
}

.modal .off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
}

.modal @supports (offset-rotate: 0deg) {

    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
    &.off {
      offset-distance: 100%;
    }
  }

.modal  @media (prefers-reduced-motion) {
    offset-path: none;
  }

.modal  h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
  }

.modal  .content {
    padding: 1rem;
  }

.modal .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
}

.modal .actions button {
      border: 0;
      background: #78f89f;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      line-height: 1;
    }



#centered-toggle-button {
  position: absolute;
}
