.profile {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.feed {
  display: flex;
  margin-top: 10px;
}

.profileFeed {
  flex-grow: 1;
}

.sidebar {
  border: 1px solid #ccc;
  margin-right: 10px;
  border-radius: 4px;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.recipe-box {
  border: 1px solid #ccc;
  margin: 20px;
  width: 200px;
  height: 250px;
}


.settings {
  margin-left: auto;
  right: 0;
  margin-top: 5px;
}

.editPfp {
  margin-left: -10px;
  margin-top: 8px;
}

.left-text {
  margin-left: 10px;
  border-radius: 4px;
}

.profile-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 10px;
}

.profile-name {
  align-self: center;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.follower {
  margin: 10px;
  padding: 12px 16px;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  background-color: #ddd;
}

.btn-setting {
  float: right;
}

.myfeed {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 4px;
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.BioRow {
  display: flex;
  /* flex-direction: row; */
}

.editBio {
  margin-left: auto;
}

.followersRow {
  display: flex;
  flex-direction: row;
}

.Following {
  margin-top: 30px;
  /*position: absolute;
  margin-left: 225px;*/
  cursor: pointer;
}

.newpostHeader {
  display: inline;
  margin-right: 10px;
}
