.profile {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.feed {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.profileFeed {
  flex-grow: 1;
}

.sidebar {
  border: 1px solid #ccc;
  margin-right: 10px;
  border-radius: 4px;
  /*width: 200px;*/
  display: flex;
  flex-direction: column;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .feed {
    display: inline-block;
  }
  .sidebar {
    margin-right: 0px;
  }
}

.recipe-box {
  border: 1px solid #ccc;
  margin: 20px;
  width: 200px;
  height: 250px;
}

.settings {
  margin-left: auto;
  right: 0;
  margin-top: 5px;
}

.editPfp {
  margin-left: -10px;
  margin-top: 8px;
}

.left-text {
  margin-left: 10px;
  border-radius: 4px;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px;
}

.profile-name {
  align-self: center;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.follow {
  margin: 10px;
  width: 180px;
  padding: 12px 16px;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  background-color: #ddd;
}

.following-count {
  margin-left: 20px;
  align-self: center;
}

.follower-count {
  margin-left: 20px;
  align-self: center;
}

.lonely {
  margin-top: 10px;
}

.lonely2 {
  margin-top: 10px;
}

.btn-setting {
  float: right;
}

.myfeed {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 4px;
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.BioRow {
  display: flex;
  /* flex-direction: row; */
}

.editBio{
  margin-left: 110px;
  margin-top: 20px;
}

.editBioButton {
  margin-left: auto;
}

.followRow {
  display: flex;
  flex-direction: row;
}

.Following {
  margin-top: 30px;
  /*position: absolute;
  margin-left: 225px;*/
  cursor: pointer;
}

.newpostHeader {
  display: inline;
  margin-right: 10px;
}

.changePicButton {
  border: white;
  font-size: 16px;
  box-shadow: none;
  margin: 0px;
}

.changePicButton:hover {
  background-color: white;
}

.popUpBackground {
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 10;
  position: fixed;
}

.popUpWindow {
  background-color: white;
  width: 350px;
  height: 360px;
  padding-top: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.popUpWindow input {
  margin-bottom: 10px;
  width: 80%;
}

.popUpWindow button {
  margin-top: 5px;
}

.exitButton {
  border: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  box-shadow: none;
  margin: 0px;
  position: absolute;
  right: 8px;
  top: 0;
  transform: rotate(45deg);
}
.camel{
border: 1px;
}

.exitButton:hover {
  background-color: rgba(0, 0, 0, 0);
  color: red;
}

.profile-image-large {
  border-radius: 50%;
  max-width: 200px;
  height: 200px;
  padding: 10px;
}

.newpostwrapper {
  margin-bottom: 10px;
}
