:local(.authContainer) {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:local(.authContainer > article) {
    width: 500px;
}

:local(.authContainer > article > h1) {
    margin-top: 0;
}

:local(.textInput) {
    width: calc(100% - var(--card-padding)/2);
}
