:local(.cardli) {
    margin: 20px 0;
}

:local(.cardli.small) {
    display: inline-block;
    margin: 0 10px 10px 10px;
    overflow: hidden;
}

:local(.listWrapper) {
    min-width: 0;
    flex-grow: 1;
}

:local(.listWrapper ul) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}