:local(.navbar) {
    border: 1px solid #ccc;
    border-radius: 4px;
    --vertical-padding: 15px;
    padding: var(--vertical-padding) 0;

    /* So that the right nav's position: absolute has something to reference off of */
    position: relative;
}

:local(.navbar ul) {
    padding: 0;
    margin: 0;
    display: inline-block;
}

:local(.navbar li) {
    list-style: none;
    display: inline-block;
}

:local(.navbar a) {
    text-decoration: none;
    padding: var(--vertical-padding) 15px;
}

:local(.rightNav) {
    display: inline-block;
    position: absolute;
    right: 0;
}

/*
.navbar a.active {
    background-color: #d9d9d9;
}
*/
