:local(.navbar) {
    background-color: #008300;
    border-radius: 4px;
    padding: 15px 0;
    display: flex;
    align-items: center;

    /* So that the right nav's position: absolute has something to reference off of */
    position: relative;
}

:local(.navbar ul) {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
}

:local(.navbar li) {
    list-style: none;
    display: inline-block;
}

:local(.navbar a) {
    text-decoration: none;
    padding: 0 15px;
    color: white;
}

:local(.rightNav) {
    display: inline-block;
    position: absolute;
    right: 0;
}

:local(.logo) {
    font-family: 'Comfortaa';
    color: black;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    display: flex;
}

/*
.navbar a.active {
    background-color: #d9d9d9;
}
*/

@media only screen and (max-width: 750px) {
    :local(.navbar) {
        display: block;
    }
    :local(.navbar ul) {
        display: block;
    }
    :local(.navbar ul *) {
      display: block;
      position: static;
    }
    :local(.logoWrapper) {
        margin-bottom: 5px;
    }
}
