.recipe-page{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

/*----------------RecipeContent----------------*/
.recipe-content{
  display: inline-block;
  align-items: left;
  width:100%;
  max-width:640px;
}

.upload{
  margin-left: 5px;
}

.uploadDisabled{
  margin-left: 5px;
  background-color: lightgrey;
  color: grey;
}

.uploadDisabled:hover{
  cursor: default;
  margin-left: 5px;
  background-color: lightgrey;
  color: grey;
}

.ErrorMsg{
  background-color: #ffc7c7;
  color:red;
  border-radius: 2px;
}

.ErrorMsg p{
  padding: 5px;
}

.SuccessMsg{
  background-color: #c8ffc7;
  color:green;
  border-radius: 2px;
}

.SuccessMsg p{
  padding: 5px;
}

/*----------------Title----------------*/
.title{
  display: flex;
  flex-direction: column;
}

.title h1{
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.title img{
  width:100%;
  max-width:640px;
  border-radius: 2px;
}

.title input{
  width: 40%;
  margin-bottom: 4px;
}

.title div{
  margin-left: 10px;
  margin-right: 10px;
}

/*----------------RecipeHeader----------------*/
.recipe-header h1{
  background-color: #FFA357;
  border-radius: 2px;
  padding: 5px;
}

.recipe-header button{
  margin-left: 5px;
  position: relative;
  top: -6px;
}

/*----------------Description----------------*/
.description{
  margin: 10px;
}

/*----------------Ingredients----------------*/
.ingredients{
  display: flex;
}

.ingredients div{
  margin: 10px;
}

.ingredients ul{
  padding: 0px;
}

.ingredients li{
  list-style-type: none;
}

.ingredients input{
  width: 70%;
}

#autoWidth{
  width: auto;
}

.ingredients button{
  margin: 0px;
}

.icon{
  all: initial;
  position: relative;
  top: 3px;
  left: 2px;
  cursor: pointer;
}
.icon:hover{
  background-color: rgba(0, 0, 0, 0);
}

/*----------------Recipe----------------*/
.recipe{
  margin: 10px;
  max-width: 640px;
}

.recipe img{
  width:100%;
  max-width: 640px;
  border-radius: 2px;
}

.recipe input{
  width: 30%;
  margin-bottom: 4px;
}

/*----------------Tags and Time and Rating----------------*/
.container{
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.container div{
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 5px;
  min-width: 90px;
  border-radius: 2px;
  border: solid 1px lightgrey;
  background-color: #fff;
  min-height: 50px;
}

.container input{
  margin: 5px;
  width: 40px;
}

.tagsItem input{
  width: 90%;
}

.container a{
  position: relative;
  top: 5px;
  left: 5px;
  padding-bottom: 5px;
}

.tagsItem{
    flex: 1;
    flex-grow: 100;
}

.ratingItem {
  min-width: 205px;
  max-width: 100%;
  flex-basis: auto; /* default value */
  flex-grow: 1;
}

.ratingItem div{
    border: none;
    margin: 0;
    padding: 0;
}

.prepTime{
  flex: 1;
}

.cookTime{
  flex: 1;
}

.totalTime{
  flex: 1;
}

/*StarRating*/

.starRatingContainer{
  text-align: center;
}

.starRatingContainer div{
  display: inline-block;
}

.starRatingContainer form{
  display: flex;
  flex-wrap: nowrap;
}

.starRatingContainer input{
  display: none;
}

.starRatingForm label{
  font-size: 40px;
  color: lightgrey;
  cursor: pointer;
}

.clearDivStyle div{
  border: none;
  padding: 0;
  margin: 0;
}
