@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Lora|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');

h1{
  background: #BCAAA0;
  color:#43281C;
  background-size: 20%;
  margin: 0%;
  padding: 10px;
  font-family: "Pinyon Script", serif;
  text-align: left;

  vertical-align: middle;
}
p{
  font-family: "Open Sans", sans-serif;
}

button{
  text-align: left;
  vertical-align: middle;
  background: #FD5D61;
  border: solid #35C02E;
  margin: 0px;
  text: bold;
  margin-left: 10px;
  padding: 10px;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

li{
  list-style-type: none;
}
ul{
  padding: 10px;
}
h2{
  text-align: center;
  margin: 5px;
}

#sideByside{
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-align: left;
}

#profileImage{
  width: 50px;
  height: 50px;
}

#mainImage{
  width: 70%;
  height: auto;
  align-self: center;
}

.tags{

}

button:hover{
  background-color: lightgreen;
}
