html {
   height: 100%;
   background: black;
     flex-shrink: 2;
}	

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100%;
font-family: 'lato', sans-serif;
color: #fff;
background-color: #5a3f37;
}

#logo {
	font-family: cursive;  
  font-size:35px;
  text-align: center;
  padding: 20px 20px 0;
  margin:0;
}

#container {	
  display: flex;  
  border-radius: 10px;  
  flex-shrink: 2;
   align-items: center;
  flex-direction: column;
  background: linear-gradient(to top,  #56ab2f,  #ff9068);
}
