@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Lora|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1350px;
  margin: auto;
  background-color: #f3f3f3;
  height: calc(100% - 20px);
}

main {
  max-width: 1350px;
  margin: 20px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
  margin: 15px 0;
}

input:not([type=submit]) {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 0;
}

textarea{
  width: 99%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 50px;
  padding: 5px 0;
}

label{
  color: #444;
  font-size: 14px;
}

ul.unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*----------------Buttons----------------*/
button, input[type=submit] {
  background: white;
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.21);
  padding: 7px 10px;
  font-weight: bold;
  cursor: pointer;
}

button:hover, input[type=submit]:hover {
  background-color: #FFA357;
}

/*----------------Icons----------------*/
.icon{
  border: 0px #FFF solid;
  margin: 3px;
  padding: 0px;
  cursor: pointer;
}

.icon:hover{
  color: red;
}

/*----------------Cards----------------*/
.card {
  border: 1px solid #999;;
  border-radius: 5px;
  --card-padding: 20px;
  padding: var(--card-padding);
  background-color: #fdfdfd;
  box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.18);
}
