

html {
   height: 100%;
   background: black;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100%;
font-family: 'lato', sans-serif;
color: #fff;
background-color: #5a3f37;
}

.container {
  background: grey;
  border-radius: 10px;
  width: 800px;
  height: 450px;
  display: flex;  
  flex-direction: column;
  background: linear-gradient(to top,  #56ab2f,  #ff9068);
}

.logo{
  font-family: cursive;  
  font-size:35px;
  text-align: center;
  padding: 20px 20px 0;
  margin:0;
  margin-bottom: 40px;
}

#acct {
  font-family: "lato", sans-serif;  
  font-size:18px;
  text-align: center;

}

.txt-field {
  text-align: center;
  padding: 20px 20px 0;
  margin:0;
}

.login-item {
  padding:0px 100px 0;
  margin-left: auto;
  margin-right: auto;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

.user:before {
  color: #5b5b5b;
}

.lock:before {  
  font: 14px lato;
  color: #5b5b5b;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {

}


.form input[type="submit"] {
  color: #fa9819;
}

.form-login label,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="submit"] {
  border-radius: 0.25rem;
  padding: 5px;
  color: #3A3F44;  
  border-radius: 10px;
  width: 12rem;
}

  .form-login input[type="text"], .form-login input[type="username"] {
  background-color: #ffffff;
   border-radius: 10px;
}


.form-login input[type="text"], .form-login input[type="password"] {
  background-color: #ffffff;
  border-radius: 10px;
}
.form-login input[type="text"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {

}
.form-login input[type="submit"] {
  background-color: #ff9068;
  font-weight: bold;
  text-transform: uppercase;
  display: flex-center;
}
.form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover {
}

.form-login input[type="password"] {
}
.form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.hidden {
  
}

#space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text--center {
  text-align: center;
}

#myt:hover {
  
   color:yellow;
   cursor: pointer;

}

.fgt_pw {
 float: right;
 flex-basis: 100%;
}


#uname {
  font-size: 18px;
}


#pname {
   font-size: 18px;
}

#break {  
  flex-basis: 100%;

}

#fpw {
  float: right;
}

#fpw:hover {
  cursor: pointer;
  color:yellow;
}


#al {
  flex-direction: column;
}
