.TheBoxContainer {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TheBox{
    text-align: center;
    width: 350px;
    /*position: absolute;
    border: 1px solid black;
    /* height: 300px; */
    /*width: 350px;
    top:30%;
    left: 50%;
    margin-left:-150px;
    margin-top:-100px;
    border-radius: 10px;*/
}

.Header{
    text-align: center;
    margin-bottom: 10px;
}

.DeleteButton{
    cursor: pointer;
    margin-bottom:20px;
}