:local(.searchbar) {
    width: calc(100% - 60px);
    margin: 0 30px;
    display: flex;
    flex-direction: row;
}

:local(.searchbar input[type="text"]) {
    flex-grow: 1;
}

:local(.searchbar input[type="submit"]) {
    margin-left: 5px;
}

:local(.listWrapper) {
    display: flex;
    margin: 20px 30px;
}

:local(.extraSearch) {
    height: min-content;
    margin-left: 20px;
}
