:local(ul.recipeList) {
    padding: 0 30px;
}

:local(.searchbar) {
    width: calc(100% - 60px);
    margin: 0 30px;
    display: flex;
    flex-direction: row;
}

:local(.searchbar input) {
    flex-grow: 1;
}

:local(.searchbar button) {
    margin-left: 5px;
}
